.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  text-align: center;
  background-color: var(--mat-sys-inverse-primary);

  .title {
    text-align: center;
    font-weight: 600;

    .title-part {
      display: block;
      font-size: 1.1rem;

      &.second-line {
        margin-top: .2rem;
        font-size: .9rem;
      }
    }
  }

  .location {
    display: inline-flex;
    align-items: center;
    color: var(--mat-primary);
    font-weight: 500;

    mat-icon {
      font-size: 1.1rem;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    .contact-item {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;
      transition: color 0.2s ease;

      mat-icon {
        font-size: 1.3rem;
      }

      .icon {
        width: 1.3rem;
        height: 1.3rem;
      }

      &:hover {
        color: var(--mat-primary);
      }
    }
  }

  a {
    text-decoration: underline;
  }
}
