@if (personalInfo) {
<header class="about-section py-4" id="about">
  <h2 class="title">
    @for (part of personalInfo.title.split('|'); track $index) {
    <span class="title-part" [class.second-line]="$index === 1">
      {{ part.trim() }}
    </span>
    }
  </h2>

  <p class="location">
    {{ personalInfo.location }}
  </p>

  <div class="contacts">
    <a href="mailto:{{ personalInfo.contacts.email }}" class="contact-item">
      <span class="icon-wrapper">
        <mat-icon class="icon-font">mail</mat-icon>
      </span>
      {{ personalInfo.contacts.email }}
    </a>

    <a href="https://wa.me/{{ phoneWhatsApp }}" target="_blank" class="contact-item">
      <span class="icon-wrapper">
        <mat-icon svgIcon="whatsapp" class="icon-svg"></mat-icon>
      </span>
      {{ personalInfo.contacts.phone }}
    </a>

    <a href="https://{{ personalInfo.contacts.linkedin }}" target="_blank" class="contact-item">
      <span class="icon-wrapper">
        <mat-icon svgIcon="linkedin" class="icon-svg"></mat-icon>
      </span>
      {{ personalInfo.contacts.linkedin }}
    </a>

    <a href="https://{{ personalInfo.contacts.github }}" target="_blank" class="contact-item">
      <span class="icon-wrapper">
        <mat-icon svgIcon="github" class="icon-svg"></mat-icon>
      </span>
      {{ personalInfo.contacts.github }}
    </a>

  </div>
</header>
}
