<section class="pt-4 px-4">
  <h3 class="text-xl font-semibold mb-2">Competências Técnicas</h3>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    @for (group of skillsGroups; track $index) {
    <div>
      <h4 class="font-semibold capitalize">{{ group.label }}</h4>
      <ul class="text-sm">
        @if(skills){
        @for (item of skills[group.key]; track $index) {
        @if (item.name) {
        <li>{{ item.name }} — {{ item.years }} anos</li>
        } @else {
        <li>{{ item }}</li>
        }
        }
        }
      </ul>
    </div>
    }
  </div>
</section>

@if(skills){
<section class="pt-4 px-4">
  <h3 class="text-xl font-semibold mb-2">Competências Comportamentais</h3>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div>
      <ul class="text-sm">
        @if(skills){
        @for (item of skills['soft']; track $index) {
        <li>{{ item }}</li>
        }
        }
      </ul>
    </div>
  </div>
</section>
}
