@use '@angular/material' as mat;

@use '../src/app/styles/theme-colors-blue.scss' as theme-blue;
@use '../src/app/styles/theme-colors-green.scss' as theme-green;
@use '../src/app/styles/theme-colors-orange.scss' as theme-orange;
@use '../src/app/styles/theme-colors-pink.scss' as theme-pink;
@use '../src/app/styles/theme-colors-purple.scss' as theme-purple;

@import "tailwindcss";

@include mat.core();

$theme-blue-light: mat.define-theme((color: (theme-type: light,
        primary: theme-blue.$primary-palette,
        tertiary: theme-blue.$tertiary-palette ),
    ));
$theme-blue-dark: mat.define-theme((color: (theme-type: dark,
        primary: theme-blue.$primary-palette,
        tertiary: theme-blue.$tertiary-palette ),
    ));

$theme-green-light: mat.define-theme((color: (theme-type: light,
        primary: theme-green.$primary-palette,
        tertiary: theme-green.$tertiary-palette ),
    ));
$theme-green-dark: mat.define-theme((color: (theme-type: dark,
        primary: theme-green.$primary-palette,
        tertiary: theme-green.$tertiary-palette ),
    ));

$theme-orange-dark: mat.define-theme((color: (theme-type: dark,
        primary: theme-orange.$primary-palette,
        tertiary: theme-orange.$tertiary-palette ),
    ));
$theme-orange-light: mat.define-theme((color: (theme-type: light,
        primary: theme-orange.$primary-palette,
        tertiary: theme-orange.$tertiary-palette ),
    ));

$theme-pink-light: mat.define-theme((color: (theme-type: light,
        primary: theme-pink.$primary-palette,
        tertiary: theme-pink.$tertiary-palette ),
    ));
$theme-pink-dark: mat.define-theme((color: (theme-type: dark,
        primary: theme-pink.$primary-palette,
        tertiary: theme-pink.$tertiary-palette ),
    ));

$theme-purple-light: mat.define-theme((color: (theme-type: light,
        primary: theme-purple.$primary-palette,
        tertiary: theme-purple.$tertiary-palette ),
    ));
$theme-purple-dark: mat.define-theme((color: (theme-type: dark,
        primary: theme-purple.$primary-palette,
        tertiary: theme-purple.$tertiary-palette ),
    ));

html {
  &.dark {
    color-scheme: dark;

    h3,
    h4,
    h5,
    h6 {
      color: var(--mat-sys-on-surface);
    }
  }

  &.light {
    color-scheme: light;

    h3,
    h4,
    h5,
    h6 {
      color: var(--mat-sys-on-primary-container);
    }
  }

  &.theme-blue.dark {
    @include mat.all-component-colors($theme-blue-dark);
    @include mat.all-component-themes($theme-blue-dark);
    @include mat.all-component-densities($theme-blue-dark);
    @include mat.system-level-colors($theme-blue-dark);
    @include mat.system-level-typography($theme-blue-dark);
  }

  &.theme-green.dark {
    @include mat.all-component-colors($theme-green-dark);
    @include mat.all-component-themes($theme-green-dark);
    @include mat.all-component-densities($theme-green-dark);
    @include mat.system-level-colors($theme-green-dark);
    @include mat.system-level-typography($theme-green-dark);
  }

  &.theme-orange.dark {
    @include mat.all-component-colors($theme-orange-dark);
    @include mat.all-component-themes($theme-orange-dark);
    @include mat.all-component-densities($theme-orange-dark);
    @include mat.system-level-colors($theme-orange-dark);
    @include mat.system-level-typography($theme-orange-dark);
  }

  &.theme-pink.dark {
    @include mat.all-component-colors($theme-pink-dark);
    @include mat.all-component-themes($theme-pink-dark);
    @include mat.all-component-densities($theme-pink-dark);
    @include mat.system-level-colors($theme-pink-dark);
    @include mat.system-level-typography($theme-pink-dark);
  }

  &.theme-purple.dark {
    @include mat.all-component-colors($theme-purple-dark);
    @include mat.all-component-themes($theme-purple-dark);
    @include mat.all-component-densities($theme-purple-dark);
    @include mat.system-level-colors($theme-purple-dark);
    @include mat.system-level-typography($theme-purple-dark);
  }

  &.theme-blue.light {
    @include mat.all-component-colors($theme-blue-light);
    @include mat.all-component-themes($theme-blue-light);
    @include mat.all-component-densities($theme-blue-light);
    @include mat.system-level-colors($theme-blue-light);
    @include mat.system-level-typography($theme-blue-light);
  }

  &.theme-green.light {
    @include mat.all-component-colors($theme-green-light);
    @include mat.all-component-themes($theme-green-light);
    @include mat.all-component-densities($theme-green-light);
    @include mat.system-level-colors($theme-green-light);
    @include mat.system-level-typography($theme-green-light);
  }

  &.theme-orange.light {
    @include mat.all-component-colors($theme-orange-light);
    @include mat.all-component-themes($theme-orange-light);
    @include mat.all-component-densities($theme-orange-light);
    @include mat.system-level-colors($theme-orange-light);
    @include mat.system-level-typography($theme-orange-light);
  }

  &.theme-pink.light {
    @include mat.all-component-colors($theme-pink-light);
    @include mat.all-component-themes($theme-pink-light);
    @include mat.all-component-densities($theme-pink-light);
    @include mat.system-level-colors($theme-pink-light);
    @include mat.system-level-typography($theme-pink-light);
  }

  &.theme-purple.light {
    @include mat.all-component-colors($theme-purple-light);
    @include mat.all-component-themes($theme-purple-light);
    @include mat.all-component-densities($theme-purple-light);
    @include mat.system-level-colors($theme-purple-light);
    @include mat.system-level-typography($theme-purple-light);
  }
}

body {
  font: var(--mat-sys-body-medium);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

#about,
#objective,
#summary,
#experience,
#education,
#languages,
#courses,
#technical_skills,
#soft_skills,
#activities {
  scroll-margin-top: 70px;
}

.icon-wrapper {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.25rem;
  background-color: var(--mat-sys-primary-fixed);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2rem;
}

.icon-font {
  font-size: 1.5rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mat-sys-on-secondary-fixed);
}

.icon-svg {
  width: 24px;
  height: 24px;
  color: var(--mat-sys-on-secondary-fixed);
}
