@use '@angular/material' as mat;
@use '../src/app/styles/theme-colors.scss' as theme;

@import "tailwindcss";

@include mat.core();

// Tema claro
$light-theme: mat.define-theme((color: (theme-type: light,
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
    ));

// Tema escuro
$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
    ));

html {
  &.dark {
    color-scheme: dark;
    @include mat.all-component-colors($dark-theme);
    @include mat.all-component-themes($dark-theme);
    @include mat.all-component-densities($dark-theme);
    @include mat.system-level-colors($dark-theme);
    @include mat.system-level-typography($dark-theme);

    h3,
    h4,
    h5,
    h6 {
      color: var(--mat-sys-on-surface);
    }
  }

  &.light {
    color-scheme: light;
    @include mat.all-component-colors($light-theme);
    @include mat.all-component-themes($light-theme);
    @include mat.all-component-densities($light-theme);
    @include mat.system-level-colors($light-theme);
    @include mat.system-level-typography($light-theme);

    h3,
    h4,
    h5,
    h6 {
      color: var(--mat-sys-on-primary-container);
    }
  }
}

body {
  font: var(--mat-sys-body-medium);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

#about,
#objective,
#summary,
#experience,
#education,
#languages,
#courses,
#technical_skills,
#soft_skills,
#activities {
  scroll-margin-top: 70px;
}

.icon-wrapper {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.25rem;
  background-color: var(--mat-sys-primary-fixed);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.2rem;
}

.icon-font {
  font-size: 1.5rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mat-sys-on-secondary-fixed);
}

.icon-svg {
  width: 24px;
  height: 24px;
  color: var(--mat-sys-on-secondary-fixed);
}
