@if(resume) {
<app-personal-info [personalInfo]="resume.personal"></app-personal-info>

<app-summary [objective]="resume.objective" [summary]="resume.summary"></app-summary>

<app-work-experience [workExperience]="resume.experience"></app-work-experience>

<app-education [education]="resume.education"></app-education>

<app-language [languages]="resume.languages"></app-language>

<app-course [courses]="resume.courses"></app-course>

<app-skill [skills]="resume.skills"></app-skill>

<app-activity [activities]="resume.activities"></app-activity>
}@else {
Carregando...
}
