@if(resume) {
<app-personal-info [personalInfo]="resume.personal"></app-personal-info>

<app-summary [summary]="resume.summary"></app-summary>

<app-work-experience [workExperience]="resume.experience"></app-work-experience>

<app-education [education]="resume.education"></app-education>

<app-language [languages]="resume.languages"></app-language>

<section class="pt-4 px-4">
  <h3 class="text-xl font-semibold mb-2">Cursos</h3>
  <ul>
    @for (course of resume.courses; track $index) {
    <li>{{ course }}</li>
    }
  </ul>
</section>

<section class="pt-4 px-4">
  <h3 class="text-xl font-semibold mb-2">Competências Técnicas</h3>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    @for (group of skillsGroups; track $index) {
    <div>
      <h4 class="font-semibold capitalize">{{ group.label }}</h4>
      <ul class="text-sm">
        @for (item of resume.skills[group.key]; track $index) {
        @if (item.name) {
        <li>{{ item.name }} — {{ item.years }} anos</li>
        } @else {
        <li>{{ item }}</li>
        }
        }
      </ul>
    </div>
    }
  </div>
</section>

<section class="p-4">
  <h3 class="text-xl font-semibold mb-2">Atividades Extras</h3>
  <ul>
    @for (activity of resume.activities; track $index) {
    <li>{{ activity }}</li>
    }
  </ul>
</section>
}@else {
Carregando...
}
